body{
background-color: beige;
background-image: url("bg.jpeg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


a{
color: red;
text-decoration: none;


}
a:hover {
color: black;
font-size:24px;
font-weight:bold;
}
p a{
color:skyblue;

}

p{
font-family: sans-serif;
}

ul{
list-style-type: square;
}

ol{
  list-style-type: lower-alpha;
}
