.weblink{
  color: royalblue;
  font-family:'Playfair Display', serif;
  }
.weblink:hover{
  color:navy;
  font-family:'Playfair Display', serif;
}

body{
  background-color: white;
  border:3px dotted lightgrey;
}

a{
color:plum;
text-decoration:none;
}
a:hover{
  color:hotpink;
  font-size: 20px;
  font-weight:bold;
  transition: bob;
}

ul{
  list-style-type: circle;
}

ul{
color:plum;
}

.customlist{
color:hotpink;
font-weight:bold;
}

#title{
  font-family: 'Oswald', sans-serif;
}

#about{
font-family: 'Playfair Display', serif;
}

.fadein img{
opacity:0.5;
transition: 1s ease;
}

.fadein img:hover{
opacity:1;
transition: 1s ease;
}


.fadein img{
opacity:0.4;
transition: 0.5s ease;
}

.fadein img:hover{
opacity:1;
transition: 1s ease;
}

.grey img{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}

.grey img:hover{
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
}


.headings{
color:hotpink;
}

.green{
  color:mediumseagreen;
}

.red{
  color:indianred;
}

.pink{
  color:plum;
}

.address{
  font-weight:bold;
}

.h2heading{
  font-family: 'Oswald', sans-serif;
}
