body{
  font-family: 'Open Sans', sans-serif;
  margin:200px;
  padding:0;
  margin-right: 20px;
  background-color: white;
}

.title{
  text-align:center;
color: grey;
}


.wrapper{
  display:block;
  border: 1px;
  border-color: grey;
  background: #white;
  width: 1000px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
}


.title{
  text-align: center;
}

nav{
  display: block;
  background: dodgerblue;
}

.navlinks{
  list-style-type: block;
text-align: center;
  }

.navlinks li {

  display: inline;
  color: dodgerblue;
}

.navlinks a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  }

.headshot{
  position:
}

.left {
  display: inline-block;
  vertical-align: top;
  background: white;
  width: 400px;
  min-height: 300px;


  padding-left: 10px;


}

.right {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 300px;
  background: white;
  color: white;

}





.fadein {
  display: inline;
}

.fadein img{
opacity:0.5;
transition: 1s ease;
}

.fadein img:hover{
opacity:1;
transition: 1s ease;
}


.fadein img{
opacity:0.4;
transition: 0.5s ease;
}

.fadein img:hover{
opacity:1;
transition: 1s ease;
}

.grey img{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}

.grey img:hover{
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
}
























footer{
display: block;
width: 1060px;
background: lightslategrey;
color: black;
padding: 10px;
padding-left: 25px;
}
