body{
  font-family: 'Open Sans', sans-serif;
  margin:200px;
  padding:0;
  margin-right: 20px;
  background-color: white;
}

.title{
  text-align:center;
color: grey;
}


.wrapper{
  display:block;
  border: 1px;
  border-color: grey;
  background: #white;
  width: 1000px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
}


.title{
  text-align: center;
}

nav{
  display: block;
  background: dodgerblue;
}

.navlinks{
  list-style-type: block;
text-align: center;
  }

.navlinks li {

  display: inline;
  color: dodgerblue;
}

.navlinks a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
  }













footer{
display: block;
width: 1060px;
background: lightslategrey;
color: black;
padding: 10px;
padding-left: 25px;
}
