body{
  margin:200px;
  padding:0;
  margin-right: 20px;
}

.title{
display: block;
width: 1000px;
margin-left: auto;
margin-right: auto;

}

.wrapper{
  display:block;
  background: #CCCCCC;
  width: 1000px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

nav{
  background: white;
}


.navlinks{
  list-style-type: none;
  }

.navlinks li {
  display: inline;

}

.navlinks a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px;
  }

.title{

}

.tokyo{
  color: #CCCCCC;
}

footer{
display: block;
background: lightslategrey;
color: black;
padding: 10px;
padding-left: 25px;
}

.roadto{
  color: darkorange;
}
